<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uid.project.sportify">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sportify">
        <activity android:name=".EventPageUserActivity"></activity>
        <activity android:name=".EditEventActivity" />
        <activity android:name=".MapViewEventActivity" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name=".SearchUserActivity" />
        <activity android:name=".AudioVideoCallActivity" />
        <activity android:name=".ButtonsPageAddActivity" />
        <activity android:name=".FriendListActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBmVBp2jlJg9UCB1d3xaOfKFHVpNQHwwSU" />

        <activity android:name=".NewsFeedActivity" />
        <activity android:name=".ProfilePageActivity" />
        <activity android:name=".CreateEventActivity" />
        <activity android:name=".EventCreatedActivity" />
        <activity android:name=".ChatMainActivity" />
        <activity android:name=".ChatFriendActivity" />
        <activity android:name=".EventPageOrganizerActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SportsSelectionActivity" />
        <activity android:name=".UserResultActivity" />
        <activity
            android:name=".LevelPopupActivity"
            android:parentActivityName=".SportsSelectionActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".MapViewDemoActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CustomizeProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>